.container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.75rem 1.75rem 1.75rem 0.75rem;
}

.layout {
   height: 100%;
}

.col1 {
   place-self: center;
   width: 50%;
}
.col2 {
   display: inline-block;
   max-width: 100%;
   overflow: hidden;
   position: relative;
   box-sizing: border-box;
   margin: 1rem;
   border-radius: 0.75rem;
   padding: 2rem;
   height: 50%;
   top: 12rem;
}

.iconWrapper {
   box-sizing: border-box;
   display: flex;
   margin: .2rem;
}
.icons{
   font-size: 18px;
   color: white;
}
.text {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 2.5rem;
}
.upVoteButton {
   width: fit-content;
   color: var(--text-white-100);
   padding: 0.8rem;
   background-color: var(--text-purple-dark);
   line-height: inherit;
   cursor: pointer;
   outline: 0;
   border: 0;
   font-size: 1rem;
}
.upVoteButton:hover {
   background-color: var(--text-purple);
}
.storeImg {
   border-radius: 0.75rem;
}
.backToHomeLink {
   margin: 6rem 0 0.5rem 0;
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: 700;
}
.nameWrapper {
   margin: 1rem 0;
}
.name {
   color: var(--text-white-100);
   font-size: 2.25rem;
   line-height: 2.5rem;
   text-overflow: ellipsis;
   white-space: normal;
   overflow: hidden;
}
@media (min-width: 1024px) {
   .container {
   }
   .layout {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      height: 100vh;
   }
   .col2 {
      width: 75%;
      height: 50%;
   }
}
@media (min-width: 768px) {
   .layout {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
   }
   .col2 {
      width: 75%;
      top: 5rem;
      height: 50%;
      margin: auto;
   }
}
@media (min-width: 640px) {
   .container {
      width: 100%;
   }
   .layout {
      padding-left: 1rem;
      padding-right: 1rem;
   }
   .col2 {
      width: 75%;
      top: 5rem;
      /* height: 100%; */
      /* margin: auto; */
   }
}
@media (max-width: 640px) {
   .container {
      width: 100%;
   }
   .layout {
      padding-left: .5rem;
      padding-right: .5rem;
   }
   .col2 {
      width: 75%;
      top: 3rem;
      height: 100%;
      margin: auto;
   }
   .name{
      font-size: 1.5rem;
   }
   .text{
      font-size: 1rem;  
   }
}
